<div class="row m-auto" [ngStyle]="esPaginaInicio() ? {'display': 'flex', 'flex-wrap': 'nowrap', 'overflow-x': 'auto'} : {}">
    <app-movie-item
      class="ms-5 mt-5 col-2"
      *ngFor="let m of peliculaList"
      [pelicula]="m"
      (peliculaClick)="peliculaClickLista($event)"
    ></app-movie-item>
    <ngb-pagination class="d-flex justify-content-center mt-2" *ngIf="esPaginaPeliculas()" class="d-flex justify-content-center mt-2"
      [collectionSize]="NumeroDePaginas"
      [(page)]="paginaActual"
      [maxSize]="3"
      [pageSize]="20"
      [rotate]="true"
      (pageChange)="pagination()"
    ></ngb-pagination>
  </div>
  
    
  
  