<div class="d-flex m-auto p-2" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w500' + pelicula?.backdrop_path  + ')'}" style="width: 90%; background-size: 100% 100%; height: 500px; border-radius: 50px;">
    <div class="card text-center mb-3 " [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w500' + pelicula?.poster_path  + ')'}" style="width: 18rem; background-size: 100% 100%; height: 400px; border-radius: 30px;"  >
       
        
      </div>
    <div>
        <h3>{{pelicula.name}}</h3><br>
        <button class="d-flex justify-content-start" href="#">{{getGenres() }}</button> <br>
       <h3>Temporada {{pelicula.number_of_seasons}}</h3>
       <h3> {{pelicula.production_companies[0].name}}</h3>
       <h3>status: {{pelicula.status}}</h3>
       <ngb-rating class=" rating d-flex justify-content-start"  [max]="5"  ></ngb-rating>
       <button class="d-flex justify-content-start" href="#" style=" border-radius: 50px;">Añadir a la lista <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg></button> <br>
      <button class="d-flex justify-content-start" href="#" style=" border-radius: 50px;">Añadir a favoritos <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg></button> <br>
    </div>

</div>
<h3 class="mt-2 ms-5 text-dark">Pesonas que han participado en la pelicula</h3>

<div style="display: flex; flex-wrap: nowrap; overflow-x: auto; " id="movie-popular-row">
  <div *ngFor="let actor of actores">
    <div class="card text-center mb-3" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w500' + actor?.profile_path + ')'}" style="width: 18rem; background-size: 100% 100%; height: 400px; border-radius: 30px;">
      <div class="card-body mt-5 ">
        <button href="#">{{actor.name}}/{{actor.character}}</button>
      </div>
    </div>

  </div>
  
</div>
<h3 class="mt-3 ms-5 text-dark">Datos interesantes sobre la pelicula</h3>
<ngb-rating  class=" rating d-flex justify-content-start" [(rate)]="currentRate" [max]="5" [readonly]="true" ></ngb-rating>

<div class="d-flex justify-content-center">
  <div class="text-center w-50 mx-auto">
    <h5>{{pelicula.overview}}</h5>
  </div>
</div>
<h3 class="mt-3 ms-5 text-dark">Ver trailer</h3>
<h3 class="mt-3 ms-5 text-dark">Peliculas para ver con el mismo genero</h3>
<div style="display: flex; flex-wrap: nowrap; overflow-x: auto; " id="movie-popular-row">
  <div *ngFor="let pelicula of peliculaDe" >

    <div class="card text-center mb-3 " [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w500' + pelicula.poster_path  + ')'}" style="width: 18rem; background-size: 100% 100%; height: 400px; border-radius: 10px;"  >
      <div class="card-body mt-5 ">
        <button class="d-flex justify-content-start" href="#">{{getGenres() }}</button> <br>
        <ngb-rating class=" rating d-flex justify-content-start " [(rate)]="pelicula.vote_average" [max]="5" [readonly]="true" ></ngb-rating> <br>
        <button class="btn2 btn d-flex justify-content-start"  >{{pelicula.name}}</button>
      </div>
      <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg>
    </div>
  </div>
  
</div>






